<h1 align="center"> AMS Articles Managment System V 1.0</h1>

<h2>{{title}}</h2>

Volume horaire : {{vh}}
<br/>
Formation :{{formation}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/contact">Contact</a>

      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


